body {
    max-width: 800px;
    margin: 20px auto;
}

.editor {
    border: #ccced1 1px solid;
    margin-top: 10px;
}

.boxes {
    margin-top: 10px;
    display: flex;
}

.box {
    margin-top: 0px;
    width: 50%;
}

/*
    Make the editable "fill" the whole box.
    The box will grow if the other box grows too.
    This makes the whole box "clickable".
 */
.box .ck-editor__editable {
    height: 100%;
}

.box-left {
    margin-right: 10px;
}

/*
    When toolbar receives this class, it becomes sticky.
    If the toolbar would be scrolled outside of the visible area,
    instead it is kept at the top edge of the window.
 */
#toolbar.sticky {
    position: sticky;
    top: 0px;
    z-index: 10;
}